{% extends 'my_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<!-- <div class="container">
    <div class="row">
        <div class="col-8 bg-dark">
            <h1>My Cart page</h1>

        </div>

    </div>
</div> -->


{% endblock header %}


{% block main-content %}



<div class="container">
    <div class="row" style="margin-top: 140px;">
        <div class="col-9 m-auto">

            <h2>Cart list Page</h2>

            {% if messages %}
                {% for message in messages %}
                <div class="col-6 alert alert-{{message.tags }}">
                    <p style="font-size: 14px; font-weight: 800; color: white !important;">{{ message }}</p>
                </div>
                {% endfor %}
                {% endif %}
                
            {% for item in carts %}

            <div id="{{item.product_id}}-div" class="col-10 mb-4 mt-1 p-1" style="background-color: white;
              border-left: 2px solid greenyellow; border-radius: 0px 35px 35px 0px; ">
                <div class="row ">

                    <div class="col-3 ">
                        <img id="{{item.product_id}}-image_url" src={{item.image_url}}
                            style="width: 100%; height: 100%;">
                        </div>
                        <div class="col-7 m-2">
                            <p id="{{item.product_id}}-name" class="small-p product_name"
                            style="font-size: 10px; font-weight: 400;">{{ item.name }}</p>
                            <p id="{{item.product_id}}-price">{{item.price}} <span class="badge badge-primary">{{item.product_store}}</span></p>
                            
                            <a id="{{item.product_id}}-url" class="btn btn-sm btn-outline-info"
                            href={{item.product_url}}>Buy Now</a>
                            <a class="btn btn-sm btn-outline-danger" href="{% url 'delete_cart' item.id %}">Remove</a>   
                        <!-- <a href="#" class="save-btn search-icon btn btn-sm btn-outline-info" product-id="{{value.product_id}}" id={{value.product_id}}-btn ><i class="fa-regular fa-heart"></i>hyhy</a> -->
                    </div>
                </div>
            </div>
            
            {% endfor %}
            
        </div>

    </div>
</div>


{% endblock main-content %}