{% extends 'my_app/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block header %}

<header class="bg-light">
    <img class="bg-img" src="{% static 'my_app/images/home-header.jpg' %}">
    <section class="hero-section col-11 col-sm-11 col-md-5 col-lg-5  ">
        <h1 class="header-text" style="font-weight: bolder; color: white; z-index: 20;"> Compare product prices</h1>
        <p class=" text-white mb-4">compare product over multiple ecommerce stores for optimal shopping decisons</p>
        <div class="mt-4 col-12">
            <a href="#" class="button-large-dark ">Get Started </a>
            <a href="#" class="button-large-transparent ml-1">Sermons</a>
        </div>
        <!-- <p class="mt-4 white-text">Keee<i style="color: white;" class="fas fa-long-arrow-alt-right"></i></p> -->
    </section>
</header>

{% endblock header %}

{% block main-content %}

<div class="container bg-dark" style="height: 10vh; ">
    <div class="row ">
        <div class="col-11 ">

        </div>


    </div>


</div>

<div class="container mt-4 mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-8 bg-dark m-auto">
            <!-- <form method="POST" class="p-4">
                <div>
                    
                    <span>{{ form|crispy }}
                    {% csrf_token %}
                    <button type="submit"  class="built search-icon"> <i class="fa fa-search"></i> </button></span>
                   
                </div>
            </form> -->
        </div>

    </div>

</div>


<div class="container  mt-4 mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="card p-4 mt-3">
                
                <div class="d-flex justify-content-center px-5">
                    <div class="col-10 bg-dark m-auto" style="border-radius: 10px;">
                        <form method="POST" class="p-4 ">
                            <div>
                                
                                <span>{{ form|crispy }}
                                {% csrf_token %}
                                <button type="submit"  class="btn btn-sm btn-outline-info"> <i class="fa fa-search"></i> </button></span>
                                <!-- <div class="d-flex justify-content-center px-5">
                                    <div class="search"><input type="text" class="search-input" placeholder="Search..." name="sinput"> <a
                                             type="submit" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                </div>

                <h3 class="heading mt-5 text-center">Top Categories</h3>
                
                <div class="row mt-4 g-1 px-4 mb-5">
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px;"> 
                            <div class="text-center mg-text"> <span class="mg-text">Phones and Tablets</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px; background-color: rgba(60, 63, 60, 0.1);"> 
                            <div class="text-center mg-text"> <span class="mg-text">Home Appliances</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px; background-color: rgba(205, 148, 90, 0.5);"> 
                            <div class="text-center mg-text"> <span class="mg-text">Computers and accessories</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px; background-color: rgba(143, 152, 213, 0.6);"> 
                            <div class="text-center mg-text"> <span class="mg-text">Electronics</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px; background-color: rgba(113, 208, 113, 0.6);"> 
                            <div class="text-center mg-text"> <span class="mg-text">Health and Beauty</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center" style="height: 80px; background-color: rgb(230, 162, 174, 0.6);">
                            <div class="text-center mg-text"> <span class="mg-text">Fashion</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main-content %}